/* Grid */
.grid {
  display: grid;
}

/* 
grid-auto-flow: row
☝🏼 Quebra automaticamente os itens
em novas linhas. É o flow PADRÃO. */

.grid-auto-flow-1 {
  grid-auto-flow: column;
  /* ☝🏼 Quebra automaticamente os 
  itens em novas colunas. */
}

.grid-auto-flow-2 {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-template-rows: 50px 50px;
  grid-auto-columns: 100px;
}

.grid-auto-rows-2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  /* ☝🏼 Tenta posicionar o máximo dos elementos
  que existirem nas primeiras partes vazias do grid 
  (pode desorganizar o conteúdo). */
}

.item-2 {
  grid-column: span 3;
}

.item-4 {
  grid-column: span 3;
}

/* Grid Item */
.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.grid {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
  font-size: 1.25em;
  font-weight: normal;
}

body {
  font-family: monospace;
  color: #333;
  padding-bottom: 60px;
  margin: 0px;
}

body > div {
  padding: 40px 0;
}

body > div:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

body > div > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
